.main-content{
    margin-top: 70px;
}
.title{
    margin-bottom: 15px;
}
.title h1{
    font-size: 34px;
}

.content{
    margin-top: 50px;
    
}
.content h4{
    font-size: 24px !important;
    margin-bottom:20px;
    border-bottom: 1px solid black;
}
.content p{
    padding-left: 25px;
    margin-bottom:20px;
}
.image{
    max-width: 400px;
    margin-bottom: 50px;
    border: 1px solid #b9b8b8;
}
.image-full{
    max-width: 550px;
    border: 1px solid #b9b8b8;
}
figure{
    margin-bottom: 65px;
}
figcaption{
    margin-top: 5px;
    font-size: 12px;
}
.modal-img{
width: 100%;
}
.modal-dialog{
    max-width: 800px;
}

img:hover {
    cursor: pointer;
}
